*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}


/* My Classes */
.my-text-primary{
    color: #651FFF;
}

h2{
    font-weight: 700;
}

/* Header */
header{
    background-color: #ffffff;
}

/* Banner */
.banner{
    padding: 100px 0px;
    background-color: #EBE5FA;
}

.banner h1{
    
    font-weight:700;
    line-height: 60px;
}

/* Hero */
.hero{
    padding: 100px 0px;
}

/* Lightning */
.lightning{
    padding: 100px 0px;
}

.lightning-wrapper > div > div > div{
    background-color: #651FFF;
    padding: 60px 30px;
    color: #ffffff;
    border-radius: 30px;
}

.lightning-wrapper > div > div > div a{
    color: #ffffff;
}

/* Team */
.team{
    padding: 100px 0px;
}

.team-wrapper > div > div > div{
    text-align: center;
    padding: 50px;
    border-radius: 30px;
}

.team-wrapper > div > div:nth-child(1) > div{
    background-color: #FFF7ED;
}

.team-wrapper > div > div:nth-child(2) > div{
    background-color: #E0F7FA;
}

.collab{
    background-color: #ECECFE;
    padding: 50px;
    border-radius: 30px;
}

/* Privacy */

.privacy{
    padding: 100px 0px;
}

/* Pricing */
.pricing{
    padding: 100px 0px;
    background:linear-gradient(to bottom, #00E5FF 55%, #ffffff 45%);
}

.pricing-wrapper > div > div:nth-child(1) > div{
    padding: 50px;
    background-color: #ffffff;
    border-radius: 30px;
}

.pricing-wrapper > div > div:nth-child(2) > div{
 background-color: #651FFF;
 color: #ffffff;
 padding: 50px;
}


@media (min-width: 992px) {
    .pricing-wrapper > div > div:nth-child(2) > div{
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
       }
       
  }